body {
    background-image: url(./background-1.webp);
    background-size: cover;
    background-repeat: no-repeat;
}
.numBox {

    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    position: absolute;
    top: 6.5%;
    left: 6.5%;
}
#board {
    width: 575px;
    height: 575px;
    border: 2px solid #000000;
    position: relative;
    margin: 3% auto 0 auto;
    background-image: url(./wood-background.png);
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.7;
}

.cell {

    display: inline;
    text-align: center;
    border: 1px solid black;
    margin: 0;
    padding: 0;
    font-size: 80px;
    text-shadow: 2px 2px 4px rgb(134, 119, 32);
    line-height: 3cm;
}
.cell:hover {
    cursor: grab;
}

.button {
    font-weight: bold;
    background-color:burlywood;
    height: 40px;
    width: 80px;
    opacity: 0.8;
    cursor: pointer;
    border-radius: 20px;
    border-color:darkgreen;
}

.button:hover {

    background-color: cadetblue;
}
.btn-div {
    margin-top: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
}